# Django Secret Key (сгенерируйте новый случайный ключ)
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=your_secret_key

# Database
DB_PASSWORD=your_database_password_123
DB_USER=your_database_username

# Telegram (если используется)
TELEGRAM_KEY=your_telegram_key

# Host/Port
HOST=localhost
PORT=8000

# Debug (True для разработки, False для продакшена)
DEBUG=True